i {
    color: rgb(255, 255, 255);
}

.form-check-input:checked[type=radio] {
    background-color: #c9c7c7 !important; /* Your color */
    border-color: #d4d0d0 !important;
    color: black;
    
}
